.indiv{
	display:inline;
	float:left;
	width:50%;
}
input#search-box{
	position:relative;
	height:32px;
	top:3px
}
#add-new-user{
	top: 4px
}
li{
	display:block;
	margin-bottom:3px;
}
#user-list-div{
	margin-top: 7px;
}
.close-button{
	float:right;
}
#right-container img{
	max-width:100%;
}
input.location{
	width:100%;
}
label{
	vertical-align: top;
	padding-right: 4px;
}
#popup-description{
	width:100%;
	max-width:100%;
}
.user{		
	border-bottom: 1px solid #ddd;
	padding: 4px;
	cursor: pointer;
}
ul{
	padding:0;
}
#user-popup{
	position:fixed;
	margin-left:100px;
	width:50%;
	z-index:1000;
}
th{
	font-weight:normal;
}
#user-table{
	width:100%;
}
#user-table, #user-table th, #user-table td{
	border: solid 1px #ddd;
	padding: 3px;
	margin: 3px;
}
